PORT=8080
HOST="0.0.0.0"

ACCESS_SECRET_KEY="YOUR_ACCESS_SECRET_KEY"
REFRESH_SECRET_KEY="YOUR_REFRESH_SECRET_KEY"
ACCESS_TOKEN_LIFE="1h"
REFRESH_TOKEN_LIFE="30d"

# localhost or host.docker.internal
PG_HOST="localhost"
PG_PORT=5432
PG_USER="worker1"
PG_PASSWORD='YOUR_PG_PASSWORD'
PG_DBNAME="smartTasker"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD="YOUR_REDIS_PASSWORD"

# localhost or host.docker.internal
RABBITMQ_URI="amqp://rmuser:rmpassword@localhost:5672"

FORMULA_DISTRIBUTION="(w_time * e_time) + (w_priority * e_priority) + (w_qualifications * e_qualifications) + (w_tired * e_tired)"
FORMULA_QUALIFICATIONS="(count_matches / all_tags_task) * 5"
FORMULA_TIRED="(count_tasks_employee / max_count_tasks)"
FORMULA_CALCULATE_PROGRESS="((completed_tasks / all_tasks) + (completed_goals / all_goals)) * 100"
